@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.coll {
  border-collapse: collapse;
}
/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
html {
  font-size: 18px;
  font-family: Pretendard, sans-serif;
}
a {
  display: inline-block;
  cursor: pointer;
}
.shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}
table {
  table-layout: fixed;
  border-collapse: collapse;
}
.container .wrap {
  font-size: 0rem;
  text-align: center;
  zoom: 1;
  width: 106.66666667rem;
}
.container .wrap:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .wrap aside {
  width: 19.55555556rem;
  color: #fff;
  background-color: #000;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.container .wrap aside .user {
  padding: 2.22222222rem;
  box-sizing: border-box;
  border-bottom: 1px solid #606060;
}
.container .wrap aside .user .thumb {
  width: 2.77777778rem;
  height: 2.77777778rem;
  vertical-align: middle;
  margin-right: 1.11111111rem;
}
.container .wrap aside .user .user-info {
  font-size: 1.11111111rem;
  line-height: 1.33333333rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
}
.container .wrap aside .user .user-info .email {
  margin-bottom: 0.27777778rem;
}
.container .wrap aside .user .user-info span {
  font-size: 0.77777778rem;
  color: #A9A9A9;
}
.container .wrap aside .menu-list {
  padding-top: 1.66666667rem;
  padding-right: 2.22222222rem;
  padding-bottom: 1.66666667rem;
  padding-left: 2.22222222rem;
  box-sizing: border-box;
  font-weight: 600;
}
.container .wrap aside .menu-list ul {
  margin-bottom: 2.77777778rem;
}
.container .wrap aside .menu-list ul li {
  font-size: 1rem;
  line-height: 1.22222222rem;
  margin-bottom: 1.11111111rem;
}
.container .wrap aside .menu-list ul li:first-child {
  margin-bottom: 0.94444444rem;
}
.container .wrap aside .menu-list ul li p {
  font-size: 0.77777778rem;
  line-height: 0.94444444rem;
  color: #616161;
}
.container .wrap section {
  width: 87.11111111rem;
  text-align: left;
  padding-top: 1.66666667rem;
  padding-right: 2.55555556rem;
  padding-bottom: 1.66666667rem;
  padding-left: 1.66666667rem;
  box-sizing: border-box;
  float: left;
}
.container .wrap section article {
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  margin: 0.55555556rem;
  position: relative;
}
.container .wrap section article h4 {
  font-size: 1rem;
  line-height: 1.22222222rem;
  color: #191919;
  font-weight: 600;
  border-bottom: 1px solid #EEEEEE;
  padding-top: 0.94444444rem;
  padding-right: 0rem;
  padding-bottom: 1.11111111rem;
  padding-left: 1.44444444rem;
  box-sizing: border-box;
}
.container .wrap section article .more-btn {
  font-size: 1rem;
  line-height: 1.22222222rem;
  color: #C4C4C4;
  position: absolute;
  right: 1.11111111rem;
  top: 1.11111111rem;
  left: auto;
  bottom: auto;
}
.container .wrap section article.cell {
  width: 40.33333333rem;
  height: 24.77777778rem;
  display: inline-block;
  vertical-align: top;
}
.container .wrap section article.cell table {
  width: 100%;
}
.container .wrap section article.cell table tr {
  border-bottom: 1px solid #eee;
}
.container .wrap section article.cell table tr th,
.container .wrap section article.cell table tr td {
  font-size: 0.66666667rem;
  padding-top: 0.44444444rem;
  padding-right: 0rem;
  padding-bottom: 0.38888889rem;
  padding-left: 0rem;
  text-align: center;
}
.container .wrap section article.cell table tr th {
  color: #909090;
  background-color: #D7D7D733;
}
.container .wrap section article.cell table tr th:nth-child(1) {
  text-align: left;
  padding-left: 1.66666667rem;
  box-sizing: border-box;
}
.container .wrap section article.cell table tr td:nth-child(1) {
  text-align: left;
  padding-left: 1.66666667rem;
  box-sizing: border-box;
}
.container .wrap section article.cell ul li {
  font-size: 1rem;
  line-height: 1.22222222rem;
  padding-top: 1.11111111rem;
  padding-right: 1.44444444rem;
  padding-bottom: 1.11111111rem;
  padding-left: 1.44444444rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  color: #191919;
}
.container .wrap section article.cell ul li s {
  font-weight: 800;
}
.container .wrap section article.cell ul li .co-name {
  font-weight: 500;
}
.container .wrap section article.cell ul li span {
  font-size: 0.77777778rem;
  line-height: 0.94444444rem;
  color: #bbb;
  margin-top: 0.11111111rem;
}
.container .wrap section article.summary {
  display: block;
  width: 81.77777778rem;
}
.container .wrap section article.summary .sum-txt {
  font-weight: 600;
  padding-top: 1.77777778rem;
  padding-right: 0rem;
  padding-bottom: 1.83333333rem;
  padding-left: 1.44444444rem;
  box-sizing: border-box;
}
.container .wrap section article.summary .sum-txt .tit,
.container .wrap section article.summary .sum-txt span {
  display: inline-block;
  vertical-align: middle;
}
.container .wrap section article.summary .sum-txt .tit {
  font-size: 1rem;
  line-height: 1.22222222rem;
  margin-right: 1.11111111rem;
}
.container .wrap section article.summary .sum-txt span {
  font-size: 2rem;
  line-height: 2.38888889rem;
  margin-right: 3.33333333rem;
  font-weight: 800;
}
.container .wrap section article.cell1 .legend {
  position: absolute;
  right: 1.11111111rem;
  top: 1.11111111rem;
  left: auto;
  bottom: auto;
}
.container .wrap section article.cell1 .legend p {
  font-size: 0.83333333rem;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin-left: 2.77777778rem;
}
.container .wrap section article.cell1 .legend p:after {
  content: '';
  display: block;
  width: 0.83333333rem;
  height: 0.83333333rem;
  border-radius: 50%;
  position: absolute;
  left: -1.11111111rem;
  top: 50%;
  right: auto;
  bottom: auto;
  margin-top: -0.44444444rem;
}
.container .wrap section article.cell1 .legend p:nth-child(1):after {
  background-color: #efb0b1;
}
.container .wrap section article.cell1 .legend p:nth-child(2):after {
  background-color: #e56867;
}
/*# sourceMappingURL=style-admin.css.map */